button {
     display: inline-block;
     background-color: #D97706;
     border-radius: 10px;
     border: 4px double #cccccc;
     color: #eeeeee;
     text-align: center;
     font-size: 28px;
     padding: 20px;
     width: 200px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 5px;
   }
   button span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
   }
   button span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
   }
   button:hover {
     background-color: #FBBF24;
   }
   button:hover span {
     padding-right: 25px;
   }
   button:hover span:after {
     opacity: 1;
     right: 0;
   }
       
       
       textarea {
            width: 80%;
            height: 30vh;
            display: block;
            margin: 1rem;
            padding: 1rem;
            background: transparent;
            border:none;
       }

       #output {
            border: 1px solid black;
            height: 30vh;
            width: 80%;
            margin: 1rem;
            padding: 1rem;
            

       }